<div class="app-container">

  <!-- Burger Menu -->
  <button
    type="button"
    title="Sidemenu Toggle"
    class="burger-menu"
    (click)="toggleSidebar()"
    *ngIf="!sidebarOpen"
  >
   Open Sidebar
  </button>

  <div
    class="sidebar"
    [class.open]="sidebarOpen"
  >
    <button
      class="close-btn"
      (click)="toggleSidebar()"
    >&#10005;</button>

    <ul>
      <li routerLink="/" (click)="toggleSidebar()"><a>Welcome</a></li>
      <li
        *ngFor="let season of seasons"
        class="season"
      >
        {{season.label}}
        <ul>
          <li
            *ngFor="let song of season.songs"
            (click)="OnClickSong(season, song)"
          >
            <a>{{song.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <div class="logo-container">
      <img
        class="logo"
        src="/Logo.png"
        alt="kidsandheroes"
      >
    </div>
    <router-outlet></router-outlet>



    <!-- New Section for Logos and Social Links -->
    <div class="footer-section">
      <div class="logos-container">
        <!-- First Logo -->
        <div class="logo-item">
          <img
            src="/Logo.png"
            alt="kidsandheroes"
            class="footer-logo"
          >
          <div class="social-links">
            <a
              rel="noopener"
              href="https://instagram.com/kidsandheroes_music"
              target="_blank"
            >Instagram</a>
            <a
              rel="noopener"
              href="https://facebook.com/kidsandheroesnepal"
              target="_blank"
            >Facebook</a>
            <a
              rel="noopener"
              href="https://youtube.com/@kidsandheroes_music"
              target="_blank"
            >YouTube</a>
          </div>
        </div>
        <!-- Second Logo -->
        <div class="logo-item">
          <img
            src="/hippiness_logo.png"
            alt="Hippiness"
            class="footer-logo"
          >
          <div class="social-links">
            <a
              rel="noopener"
              href="https://www.instagram.com/hippiness.thecafe/"
              target="_blank"
            >Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>