.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: calc(100vw - 80%);
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #282c34;
    color: white;
    padding: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 0.25rem 0;
    padding: 0.5rem 0;
    cursor: pointer;

    a {
        width: 100%;
    }

    &:hover {
        background-color: #4a5364;
    }

    &.season {
        text-align: left;
        margin: 0.1rem 0;
        padding: 0.2rem 0;
        background-color: #282c34;
    }

}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 2rem;
    margin-left: calc(100vw - 80%);
}

.logo-container {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .logo {
        height: 5rem;
    }
}

/* Close button inside the sidebar */
.close-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 4rem;
}

/* Hide sidebar by default on small screens */
@media (max-width: 1024px) {
    .sidebar {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        background: #282c34;
        padding: 1rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .sidebar.open {
        display: block;
        animation: slideIn 0.3s ease-in-out;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 1100;
        background: #282c34;
        color: white;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
    }

    .main-content {
        margin-left: 0;
        padding: 1rem;
    }

    .close-btn {
        display: block;
    }
}


/* Sidebar animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


// footer

.footer-section {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 8rem;
    background-color: #f9f9f9;
    text-align: center;
}

.logos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.logo-item {
    text-align: center;
    flex: 1 1 200px;
    max-width: 300px;
    margin: 10px;
}

.footer-logo {
    max-width: 120px;
    margin-bottom: 10px;
}

.social-links a {
    display: block;
    margin: 5px 0;
    color: #007bff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .logos-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-item {
        max-width: 100%;
    }
}